root{
    -fx-background-color: rgba(5, 75, 180, 1);
}
.table-view{
    -fx-background-color: transparent;
}
.table-view:focused{
    -fx-background-color: transparent;
}
/* Spaltenköpfe
    Struktur column-header-background -> column-header */
.table-view .column-header-background{
    -fx-background-color: linear-gradient(  cornflowerblue 0%, white 100%);
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-text-fill: black;
}
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, rgba(255, 255, 255, 1);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}
.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, rgba(255, 255, 255, 1);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}
.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}
.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}